@model List<Setting>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var setting in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@setting.Key</td>
                            <td>@setting.Value</td>
                            <td>
                                <a asp-action="update" asp-route-id="@setting.Id" class="btn btn-warning"> <i class="fa-solid fa-pen-to-square"> </i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

