@model MemberLoginViewModel

<div class="container">
    <div class="row col-md-6">
        <form asp-action="MemberLogin" method="post">
        <div class="login-form">
            <h4 class="login-title">Returning Customer</h4>
            <p><span class="font-weight-bold">I am a returning customer</span></p>
            <div class="row">
                <div class="col-md-12 col-12 mb--15">
                    <label asp-for="UserName">Username</label>
                    <input asp-for="UserName" class="mb-0 form-control" type="text" id="name"
                           placeholder="Enter your username">
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
                <div class="col-lg-6 mb--20">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="mb-0 form-control" placeholder="Enter your password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outlined">Login</button> <br>
                    <a class="mt-5" asp-action="ForgotPassword" asp-controller="home">Forgot Password</a>
                </div>
                
            </div>
        </div>
    </form>
    </div>
</div>
    