@model MemberResetPasswordViewModel
<div class="container">
    <div class="row col-md-6">
        <form asp-action="ResetPassword" method="post">
        <div class="login-form">
            <h4 class="login-title">Returning Customer</h4>
            <p><span class="font-weight-bold">I am a returning customer</span></p>
            <div class="row">
                
                <div class="col-md-12 col-12 mb--15">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="mb-0 form-control" type="text" id="name"
                           placeholder="Enter your Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="col-md-12 col-12 mb--15">
                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                    <input asp-for="ConfirmPassword" class="mb-0 form-control" type="text" id="name"
                           placeholder="Enter Your Password Again">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outlined">Reset Password</button>
                </div>
                <div class="col-md-12 col-12 mb--15">
                    <input type="hidden" asp-for="Email" class="mb-0 form-control" value="@Model.Email" />
                </div><div class="col-md-12 col-12 mb--15">
                    <input type="hidden" asp-for="Token" class="mb-0 form-control" value="@Model.Token" />
                </div>
            </div>
        </div>
    </form>
    </div>
</div>